{% extends "base.html"  %}

{% block nav %}
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">ACME</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href=" {{ url_for('associado.associado', cpf=request.args.get('cpf') )  }} ">Associado</a></li>
        <li><a href="/associado/agendamento">Agendamento</a></li>
        <li class="active"><a href="/associado/clinicas">Clinicas</a></li>
      </ul>
    </div>
  </nav>

{% endblock  %}



{% block content %}

	<div class="container">
			<table>
        <thead>
          <tr>
              <th>Razão Social</th>
              <th>Endereço</th>
          </tr>
        </thead>

        <tbody>
						
          <tr>
						<td>{{ context.razao_social  }}</td>
						<td>{{ context.endereco }}</td>
          </tr>


        </tbody>

      </table>
  </div>

	



{% endblock  %}
