{% extends "base.html"  %}

{% block nav %}
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">ACME</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href=" {{ url_for('associado.associado', cpf=request.args.get('cpf') )  }} ">Associado</a></li>
        <li class="active" ><a href="/associado/agendamento">Agendamento</a></li>
        <li><a href="/associado/clinicas">Clinicas</a></li>
      </ul>
    </div>
  </nav>

{% endblock  %}



{% block content %}


<form method="POST" action="{{ url_for('associado.associado_agendamentos', cpf=request.args.get('cpf') )  }}" >
	<div class="container">
		<input type="date" class="datepicker" name="data">
	</div>

	<div class = "container">
		<div class="input-field col s12">
				<select class = "browser-default" name="clinica">
					<option value="" disabled selected>Escolher Clínica</option>
						{% for clinica in context.clinica  %}
						  <option value="{{ clinica.credenciado_id }}">{{ clinica.razao_social  }}</option>
						{% endfor  %}
				</select>
			</div>
	</div>
	
	<div class = "container">
		<div class="input-field col s12">
				<select class = "browser-default" name="especialidade_id">
					<option value="" disabled selected>Escolher Especialidade</option>
						{% for especialidade in context.especialidade  %}
						  <option value="{{ especialidade.id }}">{{ especialidade.nome  }}</option>
						{% endfor  %}
				</select>
			</div>
	</div>

	<div class="container">
			<button class="btn  red lighten-3 col s13" type="submit">agendar
					<i class="material-icons right">send</i>
			</button>
	</div>
</form>


	<div class="container">
			<br>
			<span>Agendamentos</span>
			<table>
        <thead>
          <tr>
              <th>Clinica</th>
							<th>Especialidade</th>
              <th>Data</th>
							<th>Status</th>

          </tr>
        </thead>

        <tbody>
						{% for agendamento in context.agendamento %}
							<tr>
									<td>{{ agendamento.razao_social  }}</td>
									<td>{{ agendamento.especialidade }}</td>
									<td>{{ agendamento.data  }}</td>
									<td>{{ agendamento.status  }}</td>
						{% endfor  %}
        </tbody>

      </table>
  </div>



	<script>
			 document.addEventListener('DOMContentLoaded', function() {
					    var elems = document.querySelectorAll('.datepicker');
					    M.Datepicker.init(elems, options);
					  });

  });


	
	</script>



{% endblock  %}



