<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
						            
  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">ACME</a>
    </div>
  </nav>
		<div class="valign-wrapper row login-box">
			<div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
				<form method='POST' action="/">
					<div class="card-content">
						<span class="card-title">Login</span>
						<div class="row">
							<div class="input-field col s12">
								<label for="email">email</label>
								<input type="email" class="validate" name="email" id="email" />
							</div>
							<div class="input-field col s12">
								<label for="password">senha</label>
								<input type="password" class="validate" name="password" id="password" />
							</div>
						</div>
					</div>
					<div class="card-action right-align">
						<input type="reset" id="reset" class="btn-flat red grey-text waves-effect">
						<input type="submit" class="btn red waves-effect waves-light" value="Login">
					</div>
				</form>
			</div>
		</div>	
  </body>
</html>
